body {
  width: 1140px;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a,
div,
p,
span,
h1,
h2,
h3,
h4 {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.siteBar {
  background: #f4f4f4;
  width: 19%;
  height: 100%;
  overflow: hidden;
}

.siteBar .nav-link {
  color: #333;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}

.siteBar .nav-link:hover {
  color: #cc2121;
}

.siteBar .nav-link span {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.siteBar .nav-link:last-child span {
  border-bottom: none;
}

.r-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.sorting,
.filter {
  overflow: hidden;
  background: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.sorting .btn,
.filter .btn {
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.sorting .btn:hover,
.filter .btn:hover {
  color: #cc2121;
  text-decoration: underline;
}

.filter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.filter-wrap input {
  width: 60px;
  padding: 5px 0 5px 5px;
  margin-right: 5px;
}

.filter-wrap span {
  cursor: pointer;
  background: #fff;
  height: 18px;
  padding: 6px 10px;
}

.filter-wrap span:hover {
  background: #000;
  color: #fff;
}

#search {
  width: 100%;
  padding: 5px 0 5px 5px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  min-height: 716px;
}

.content .wrapper {
  position: relative;
  font-size: 14px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(25% - 20px);
  margin-bottom: 10px;
  padding: 10px;
}

.content .wrapper:before {
  content: " ";
  position: absolute;
  z-index: -1;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.content .wrapper:hover:before {
  opacity: 1;
  visibility: visible;
}

.content .wrapper p {
  margin: 0;
}

.content .wrapper .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.content .single-product-info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 100%;
  padding: 0;
}

.content .single-product-info img {
  width: 49%;
}

.content .single-product-info .block {
  width: 49%;
}

.content .single-product-info:before {
  content: none;
}

.content .single-product-info .title {
  font-size: 24px;
}

.content .single-product-info .title:hover {
  color: #333;
  text-decoration: none;
}

.content img {
  width: 100%;
}

.content .title,
.content .description,
.content .price,
.content .count {
  width: 100%;
  text-align: left;
}

.content .title {
  color: #333;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .title:hover {
  color: #cc2121;
  text-decoration: underline;
}

.content .description {
  font-size: 12px;
  color: #929292;
}

.content .price {
  font-weight: 600;
  color: #cc2121;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .active {
  background: #cc2121;
  color: white;
}

.pagination-block, .pagination-block2 {
  width: 35px;
  line-height: 34px;
  text-align: center;
  margin-left: 5px;
  border: 1px solid #00000020;
  border-radius: 50%;
}

.pagination-block:first-child, .pagination-block2:first-child {
  margin-left: 0;
}

.pagination-block:hover, .pagination-block2:hover {
  cursor: pointer;
  background: #cc2121;
  color: white;
}

.basket {
  position: relative;
  font-size: 26px;
  color: red;
  width: 30px;
}

.basket__count {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 12px;
  font-weight: 900;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: green;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.basket__count.addProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basketPage {
  position: relative;
  width: 25%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.basketPage.notAdd img, .basketPage.notAdd .block {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.3;
}

.basketPage.notAdd input:hover {
  cursor: initial;
}

.basketPage.notAdd input:focus {
  outline: none;
}

.basketPage__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  margin: 15px;
}

.basketPage__label:hover {
  cursor: pointer;
  color: #cc2121;
}

.basketPage__label.checked:before {
  content: none;
}

.basketPage__label:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.basketPage__checkbox {
  width: 15px;
  height: 15px;
}

.basketPage .title:hover {
  color: #333;
  text-decoration: none;
}

.basketPage__issue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.basketPage__issue form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.basketPage__issue input {
  margin: 10px 0;
  padding: 5px 15px;
}

.basketPage__issue .addBasketProduct {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */